body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.container>div {
    /*background-color: #fbf9fe;*/
    background-color: #f0f0f0;
}
.tabbar {
    height: 100%;
}
.tab_wrapper{
    width: 100%;
    background-color: #f0f0f0;
    position: absolute;
    z-index: 1;
}
.tab_navbar{
	/*left:25%;*/
    margin:0 auto;
	width:50%;
	display: flex;
    /*position: absolute;*/
    /*z-index: 1;*/
    top: 0;
    background-color: #f0f0f0;
}
.tab_bar_item{
	color:  #888;
	width:50%;
	position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
}
.tab_bar_item.tab_bar_item_on {
    color: #09bb07;
    border-bottom: 1px solid #09bb07;
}
.square_nav{
	height: 100%;
	width: 100%;
}
.text{
	height: 100%;
	width: 100%;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 30px;
}
.list:last-child {
    margin-bottom: 0;
}
.card {
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 2;
}
.card, .list-inset {
    overflow: hidden;
    margin: 30px 15px;
    border-radius: 2px;
    background-color: #fff;
}
.avatar_nav{
    width: 100%;
    height: 85px;
}
.avatar{
   width:384px;
   position:absolute;
   clip:rect(-100px 384px 85px 0px)
    
}
.info_nav{
    width: 100%;
    padding-left: 10px;
}
.info_nav img{
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 20px;
}

.info_nav .sign{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 15px;
}
.info_nav p{
    color:#888 ;
    font-size: 12px;
    line-height: 27px;
}
.info_nav .location{
    width: 55%;
    float: left;
}
.info_nav .time{
    width: 45%;
    float: left;
}
.info_nav .title{
    width: 100%;
    height: 20px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

