 
 <div class="tttt" style="width:100%;height:100%;">
	<div class="weui-pull-to-refresh-layer">
		<div class="pull-to-refresh-arrow"></div> 
		<div class="pull-to-refresh-preloader"></div> 
		<div class="down"></div>
		<div class="up"></div>
		<div class="refresh"></div>
	</div>
	<div class="list">
		<div class="card">
			<div class="avatar_nav">
				<img class="avatar" src="img/chenxi.jpg">
			</div>
			<div class="info_nav">
				<div class="sign">
					<div style="width:0px;height:100%; float:left;"></div>
					<img src="img/sign.png">
					<p>报名人数:2/50</p>
				</div>
				<div class="title">晨曦网络工作室宣讲会</div>
				<div class="location">
					<img src="img/location.png">
					<p>复旦大学张江校区z2108</p>
				</div>
				<div class="time">
					<img src="img/time.png">
					<p>2015-10-13   18:30:00</p>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="avatar_nav">
				<img class="avatar" src="img/chenxi.jpg">
			</div>
			<div class="info_nav">
				<div class="sign">
					<div style="width:0px;height:100%; float:left;"></div>
					<img src="img/sign.png">
					<p>报名人数:2/50</p>
				</div>
				<div class="title">晨曦网络工作室宣讲会</div>
				<div class="location">
					<img src="img/location.png">
					<p>复旦大学张江校区z2108</p>
				</div>
				<div class="time">
					<img src="img/time.png">
					<p>2015-10-13   18:30:00</p>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="avatar_nav">
				<img class="avatar" src="img/chenxi.jpg">
			</div>
			<div class="info_nav">
				<div class="sign">
					<div style="width:0px;height:100%; float:left;"></div>
					<img src="img/sign.png">
					<p>报名人数:2/50</p>
				</div>
				<div class="title">晨曦网络工作室宣讲会</div>
				<div class="location">
					<img src="img/location.png">
					<p>复旦大学张江校区z2108</p>
				</div>
				<div class="time">
					<img src="img/time.png">
					<p>2015-10-13   18:30:00</p>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="avatar_nav">
				<img class="avatar" src="img/chenxi.jpg">
			</div>
			<div class="info_nav">
				<div class="sign">
					<div style="width:0px;height:100%; float:left;"></div>
					<img src="img/sign.png">
					<p>报名人数:2/50</p>
				</div>
				<div class="title">晨曦网络工作室宣讲会</div>
				<div class="location">
					<img src="img/location.png">
					<p>复旦大学张江校区z2108</p>
				</div>
				<div class="time">
					<img src="img/time.png">
					<p>2015-10-13   18:30:00</p>
				</div>
			</div>
			
		</div>
	</div>
	
</div> 


